APP_NAME=job-aggregator
APP_ENV=local
LOG_LEVEL=INFO

DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/job_aggregator

POSTGRES_DB=job_aggregator        # ggignore
POSTGRES_USER=postgres            # ggignore
POSTGRES_PASSWORD=postgres        # ggignore
