APP_NAME=job-aggregator
APP_ENV=local
LOG_LEVEL=INFO

DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/job_aggregator

POSTGRES_DB=job_aggregator        # ggignore
POSTGRES_USER=postgres            # ggignore
POSTGRES_PASSWORD=postgres        # ggignore

HH_CLIENT_ID=
HH_CLIENT_SECRET=
HH_REDIRECT_URI=
HH_ALLOW_TOKEN_REFRESH=False

COLLECTION_DEFAULT_QUERY=python
COLLECTION_DEFAULT_AREA=
COLLECTION_PAGES_LIMIT=5

SCHEDULER_ENABLED=False
SCHEDULER_INTERVAL_MINUTES=60
